In [46]:
import pandas as pd

In [47]:
joindata = pd.read_csv("DatosBrutoCorregidos.csv")

F:\Winpython64-3.8.6.0\WPy64-3860\python-3.8.6.amd64\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (3,19) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [48]:
joindata = joindata[['PERIODO','MES','DIA','CLASE','BARRIO']]
joindata['FECHA']=pd.to_datetime(joindata['PERIODO']*10000+joindata['MES']*100+joindata['DIA'],format='%Y%m%d')
joindata = joindata[['FECHA','BARRIO','CLASE']]

In [49]:
grupo =  joindata.groupby(['FECHA','BARRIO','CLASE']).agg({'CLASE': ['count']})
grupo.columns  = ['cuentaclase']
grupo  = grupo.reset_index()
grupo.to_excel("datos_procesados.xlsx",index = False)

In [50]:
grupo[grupo['cuentaclase']>8]

            FECHA                  BARRIO   CLASE  cuentaclase
7430   2014-03-25                  caribe  choque            9
11338  2014-05-07                  caribe  choque            9
40065  2015-03-20  terminal de transporte  choque            9
43410  2015-04-28                  caribe  choque            9
47571  2015-06-11           la candelaria  choque            9
56779  2015-09-18                  caribe  choque            9
63921  2015-12-05               guayaquil  choque            9
137535 2018-02-19              campo amor  choque            9
148923 2018-06-27                  caribe  choque            9
159489 2018-10-25           la candelaria  choque            9
163659 2018-12-12                  caribe  choque            9
192936 2019-11-01              campo amor  choque            9